@using SmartSchool.Web.Services.BffApiClient
@inject IBffApiClient bffApiClient
@rendermode @(new InteractiveServerRenderMode(prerender:false))
<div class="row">
    <div class="col col-6">
        <button class="btn btn-success" @onclick="@(async()=>await CreateStudent())">Create Student</button>
    </div>
</div>
<div class="row">
    <div class="col col-12">
        <p>@NewStudent</p>
    </div>
</div>


@code {
    public string NewStudent = string.Empty;
    private async Task CreateStudent()
    {
        var newStudent = new StudentCreate(Guid.NewGuid().ToString(), "Manhal", "Shiha", DateTime.Now.AddYears(-20));

        var result = await bffApiClient.CreateStudentAsync(newStudent);
        NewStudent = $"Student RollNumber{result.RollNumber}\n"
                    + $"Student Id{result.StudentId}\n"
                    + $"First name{result.FirstName}\n"
                    + $"Last name{result.LastName}";
       
    }
}
